*{
    margin: 0px;
    padding: 0px;
}
@media only screen and (min-width: 300px){
    #header{
        margin: 0px !important;
        width: 100%;
        height: max-content;
        text-align: center;
        font-size: 30px;
    }
    #outer-container{
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    #outer-container #outer-expense{
        width: 100%;
    }
    #outer-container #outer-expense #total-expense{
        margin: 0px;
        background-color: #EEF0F1;
        width: 100%;
        height: 60px;
        color: #183D5D;
        text-align: center;
        font-size: 40px;
    }
    #outer-container #outer-expense #input-expense{
        display: flex;
        margin: 0px;
        width: 100%;
        height: max-content;
    }
    #outer-container #outer-expense #input-expense #type-expense{
        width: max-content;
        margin: 5px;
    }
    #outer-container #outer-expense #input-expense #amt-expense{
        width: 80%;
        margin: 5px;
    }
    #outer-container #outer-expense #input-expense #save-expense{
        display: contents;
    }
    #outer-container #parent-display{
        display: none;
        justify-content: space-around;
        width: 100%;
        position: relative;
        top: 100px;
    }
    #outer-container #parent-display #disp-profit{
        height: 50px;
        width: 100%;
        margin: 10px;
        flex-grow: 1;
        background-color: slateblue;
    }
    #outer-container #parent-display #disp-loss{
        height: 50px;
        margin: 10px;
        width: 100%;
        flex-grow: 1;
        background-color: steelblue;
    }
    #outer-container #accordion{
        display: block;
        margin: 10px;
    }
    #profit-collapse{
        color: #2EA44F;
        font-size: 40px;
        font-weight: 600;
        text-decoration-line: none;
    }
    #loss-collapse{
        color: #FF3232;
        font-size: 40px;
        font-weight: 600;
        text-decoration-line: none;
    }
    .card-body:nth-child(even){
        background-color: #EEF0F1;
        color: #2c2c3b;
        font-size: 20px;
        font-weight: 700;
    }
    .card-body:nth-child(odd){
        background-color: #bac2c5;
        color: #2E362B;
        font-size: 20px;
        font-weight: 700;
    }
}
@media only screen and (min-width: 576px){
    body{
        background-color: slateblue;
    }
    #header{
        width: 100%;
        height: max-content;
        text-align: center;
        font-size: 50px;
    }
}
@media only screen and (min-width: 768px){
    #header{
        width: 100%;
        height: max-content;
        text-align: center;
        font-size: 60px;
    }
}